<button mat-raised-button (click)="AddStatu()">Add Statu</button>
<button mat-raised-button (click)="RemoveStatu()">Remove Statu</button>
<div
  #statu
  cdkDrag
  class="card"
  [id]="statu.id"
  *ngFor="let statu of status; let i = index"
  [style.--color]="statu.bgColor"
  [style.--width.px]="statu.width"
  [style.--height.px]="statu.height"
  (click)="SelectStatu(i)"
  (cdkDragMoved)="onDragging()"
>
  <div
    #input
    [id]="statu.id.toString() + '-0' + k"
    class="io in"
    *ngFor="let inp of [].constructor(statu.input); let k = index"
    [style.--k]="k"
    [style.--input]="statu.input"
    (click)="SelectConnDot(k, null, $event)"
  ></div>
  <div
    #output
    [id]="statu.id.toString() + '-00' + l"
    class="io out"
    *ngFor="let out of [].constructor(statu.output); let l = index"
    [style.--l]="l"
    [style.--output]="statu.output"
    (click)="SelectConnDot(null, l, $event)"
  ></div>
  <span>{{ statu.name }}</span>
</div>
