<button mat-raised-button (click)="AddStatu()">Add Statu</button>
<button mat-raised-button (click)="RemoveStatu()">Remove Statu</button>
<div
  #statu
  cdkDrag
  class="card"
  *ngFor="let statu of status; let i = index"
  [style.--color]="statu.bgColor"
  [style.--width.px]="statu.width"
  [style.--height.px]="statu.height"
  (mousedown)="SelectStatu(i)"
  (mouseup)="SelectStatu(i)"
  (cdkDragMoved)="onDragging()"
>
  <div
    #input
    class="io in"
    *ngFor="let inp of [].constructor(statu.input); let k = index"
    [id]="statu.id.toString() + '-0' + k"
    [attr.type]="k"
    [style.--k]="k"
    [style.--input]="statu.input"
    (click)="SelectConnDot(i, $event)"
  >
    {{ k }}
  </div>
  <div
    #output
    class="io out"
    *ngFor="let out of [].constructor(statu.output); let l = index"
    [id]="statu.id.toString() + '-00' + l"
    [attr.type]="l"
    [style.--l]="l"
    [style.--output]="statu.output"
    (click)="SelectConnDot(i, $event)"
  >
    {{ l }}
  </div>
  <span>{{ statu.name }}</span>
</div>
