svg.leader-line path {
  pointer-events: auto !important;
}

.leader-line:hover g > use:first-of-type {
  stroke: gray !important;
}

input::placeholder{
  font-size: 12px;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}